* {
  margin:0;
  padding: 0;
}

.head {
text-align: center;
color: black;
font-family: 'Great Vibes', cursive;
font-size: 65px;
margin-top: 30px;
}

body {
 background-image: url("https://raw.githubusercontent.com/shlesha19/birthday-card-by-shlesha/master/balloon-5966383_1280.png");
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(216, 11, 216);
  width: 300px;
  height: 300px;
  margin-top: 60px;
  transition-property: height;
  transition-duration: 3s;
  transition-timing-function: linear;
  transition-delay: 1s;
  border-radius: 10px;
}

.card:hover {
  height: 300px;
}

